@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #14151a;
}

.navContainer {
    opacity: 0.95;
    overflow: hide;
    background-color: #8458B3;
    display: flex;
    height: 50px;
    width: 98%;
    left: 50%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 40px 30px black;
    border-radius: 15px;
    margin-top: 10px;
    position: fixed;
    transform: translate(-50%, 0);
    z-index: 999;
    transition: opacity 1s;
}
.navContainer:hover {
    opacity: 0.95;
}

h1, input[type="text"] {
    font-family: 'Poppins';
}

a, p, button {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin-right: 20px;
    color: white;
}

.navContainer input {
    margin-left: 20px;
    height: 55%;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    background-color: #d0bdf4a7;
    color: white;
    text-indent: 6px;
}

@media screen and (max-width: 600px) {
    .navContainer input {
        width: 120px;
    }
    .logo {
        margin-right: 0px;
        margin-left: 22px;
    }
    .selection {
        margin-right: 30px;
        width: 90px;
    }
}

.selection li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
}

.selection a {
    text-decoration: none;
    color: #d0bdf4;
    font-size: 15px;
    font-weight: bold;
}

.selection a:hover {
    cursor: pointer;
    color: #a0d2eb;
}
.logo h1:hover {
    cursor: pointer;
}

.container {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    transition: opacity ease-in-out 300ms;
}

.container::-webkit-scrollbar {
    display: none;
}

.card {
    height: 260px;
    width: 400px;
    display: inline-block;
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 15px;
    margin: 20px 5px;
    background-color: #2d2f3a;
    transition: background-color 0.4s ease-in-out;
}

.card p {
    color: #d0bdf4;
    font-weight: bold;
}

.card img {
    max-width: 390px;
    min-width: 390px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 15px;
    border: 2px solid #d0bdf4;
    box-shadow: 0px 0px 5px 1px black;
    margin-top: 5px;
    object-fit: cover;
    opacity: 0.95;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #4b3266;
    background-color: #8458B3;
}

.failedSearch {
    color: white;
    margin-top: 200px;
    font-family: 'Poppins';
}

#clickedCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickedCard form {
    padding: 20px;
    background-color: #2d2f3a;
    box-shadow: 0px 0px 5px 5px #4b3266;
    border-radius: 10px;
    width: 50%;
    z-index: 998;
}

#clickedCard p {
    color: #d0bdf4;
}

.slider {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    object-fit: contain;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttonContainer button {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(137, 137, 137, 0.559);
    background-color: rgba(255, 255, 255, 0.163);
    transition: 250ms;
}

.buttonContainer button:hover {
    border: 1px solid rgba(137, 137, 137, 0.772);
    background-color: rgba(255, 255, 255, 0.541);
    width: 55px;
    height: 55px;
}

.buttonContainer button:active {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(137, 137, 137, 0.559);
    background-color: rgba(255, 255, 255, 0.163);
}

*:focus {outline: none;}